*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../images/bg.png");
	background-size: 64px 64px;
}

canvas {
	background: black;
	border-radius: calc((0.5vw + 0.5vh) / 2);
	border: calc((0.5vw + 0.5vh) / 2) solid #7c1934;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	transition-property: width height;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;

	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;

	width: 50vw;
	height: 50vw;
}
